.side-tabnav-tabs .tab-cur a, .side-tabnav-tabs .tab-cur a:hover { background-color: #6cd75c !important; }

.side-tabnav-tabs .tab a:hover { background-color: #dcecb4; } 

a { color: #21a60d }
a:hover { color: #6cd75c }

#header .nav .a:hover { color: #21a60d !important }

.side-tabnav h3.hd, .side-tabnav .hd h3 { color: #21a60d !important }

.tabnav-tab-cur a, .tabnav-tab a:hover, .wiki-nav .cur-item .link, .wiki-nav .link:hover, #right-panel .hd .ui-state-active .a, #right-panel .hd .a:hover { color: #21a60d !important; border-bottom-color: #21a60d !important; }

.op-target { color: #21a60d; }

.left-right-tabs-nav .ui-state-active a, .left-right-tabs-nav .ui-state-active a:hover { background: #21a60d }

.left-right-tabs-nav a:hover {background: #dcecb4 !important }

.new-narrow-panel .hd { background: #21a60d }

/* replace images */
.op-icon, .op-icon:hover, td.dirent-icon>img, td.dirent-op .repo-file-op .displayed-op>a.op>img {
  width: 0px; /* Width of new image */
  height: 0px; /* Height of new image */
  padding: 8px;
}
img.repo-share-btn {
  background: url(icons/share-green.png) no-repeat !important;
}
img.repo-delete-btn {
  background: url(icons/delete-green.png) no-repeat !important;
}
img.repo-download-btn {
  background: url(icons/download-green.png) no-repeat !important;
}
td.dirent-icon>img{
  background: url(icons/folder-24.png) no-repeat !important;
}
td.dirent-op .repo-file-op .displayed-op>a.download>img {
  background: url(icons/download-green.png) no-repeat !important;
}
td.dirent-op .repo-file-op .displayed-op>a.share>img {
  background: url(icons/share-green.png) no-repeat !important;
}
td.dirent-op .repo-file-op .displayed-op>a.delete>img {
  background: url(icons/delete-green.png) no-repeat !important;
}

/* remove orange */
.repo-trash-icon:hover {
 background-position: 0 -60px
}
.repo-history-icon:hover {
 background-position: 0 -120px 
}

/* green links */
.side-textnav-tabs .tab-cur a, .side-textnav-tabs .tab a:hover {
    color: #21a60d;
    text-decoration: none;
}

/* notification num */
#msg-count .num {
	background: #21a60d;
	border: 1px solid #21a60d;
}

/* notification box */
#notice-popup .unread {
	border-left: 2px solid #6cd75c;
}


/* login page: email --> username */
label[for='username']{
	text-indent: -9999px;
	line-height: 0;
}

label[for='username']:after{
	content: 'Benutzername (CIS) + @hftl.club';
	text-indent: 0;
	line-height: initial;
	display: block;
}

/* hide password reset function on login page */
a[href='/accounts/password/reset/']{
	display: none;
}


/* hide account delete section */
div.setting-item#del-account, li.tab a[href$='del-account']{
	display: none;
}

