/* login page: email --> username */
label[for='login']{
	text-indent: -9999px;
	line-height: 0;
}

label[for='login']:after{
	content: 'Benutzername (CIS) + @hftl.club';
	text-indent: 0;
	line-height: initial;
	display: block;
}

/* hide password reset function on login page */
a[href='/accounts/password/reset/']{
	display: none;
}


/* hide account delete section */
div.setting-item#del-account, li.tab a[href$='del-account']{
	display: none;
}

